/ {
    keymap {
        compatible = "zmk,keymap";

        // Default layer
        default_layer {
            bindings = <&kp Q>, <&kp W>, <&kp E>, <&kp R>; // Example key bindings
        };

        // Encoder bindings
        encoder_left_cw {
            bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        encoder_left_ccw {
            bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        encoder_right_cw {
            bindings = <&inc_dec_kp C_BRIGHTNESS_UP C_BRIGHTNESS_DN>;
        };

        encoder_right_ccw {
            bindings = <&inc_dec_kp C_BRIGHTNESS_DN C_BRIGHTNESS_UP>;
        };

        rgb_toggle {
            bindings = <&rgb_ug RGB_TOG>;
        };

        rgb_hue_up {
            bindings = <&rgb_ug RGB_HUI>;
        };

        rgb_hue_down {
            bindings = <&rgb_ug RGB_HUD>;
        };

        rgb_brightness_up {
            bindings = <&rgb_ug RGB_BRIU>;
        };

        rgb_brightness_down {
            bindings = <&rgb_ug RGB_BRID>;
        };

        rgb_mode_cycle {
            bindings = <&rgb_ug RGB_EFF>;
        };
    };
};
